.address-form {
    margin-top: 20px;
  }
  
  .address-input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .save-address-button {
    background-color: darkgreen;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
  }
  