* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif!important ;
  
}
img {
  max-width: 100%;
  height: auto;
}
.App {
  
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0rem auto;
  background-color:#F6F6E9;
}
/* #F6F6E9 */

body {
  max-width: 100%;
  overflow-x: hidden;
  background-color:#F6F6E9;
}



nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
}
.navbar-menu-container {
  display: none;
  margin-left: -50px;
 
}
.navbar-links-container a {
  margin-left: 10px;
  margin-right: 3.3rem;
  text-decoration: none;
  color: green;
  font-size: 17.7px;
  font-weight: 600;
  padding-top: -20px;
  /* margin-top: -50px; */
}
.primary-button {
  padding: 0.9rem 1.75rem;
  background-color: green;
  color: whitesmoke;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
  margin-left: -250px;
  text-decoration: none; /* Remove underline from text */
}
.navbar-cart-icon {
  font-size: 1.15rem;
}
.primary-button:hover {
  background-color: rgb(234, 234, 234);
}
.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}
.home-banner-container {
  position: relative;
  display: flex;
  padding-top: 3rem;
}
.home-bannerImage-container {
  position: absolute;
  top: -100px;
  right: -170px;
  z-index: -2;
  max-width: 700px;
}
.home-image-section {
  max-width: 600px;
  flex: 1;
}
.home-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.primary-subheading1 {
  font-weight: bold;
  color: green;
  font-size: 39px;
}
.primary-target{
  font-size: 30px;
  color: #4c4c4c;
  max-width: 600px;
  margin-top: 15px;
  text-align: center;
  margin-bottom: -10px;
  font-weight: 600;
}
.primary-heading {
  font-size: 27px;
  color: #4c4c4c;
  font-weight: 600;
  /* max-width: 600px; */
  margin-top: 5px;
  margin-left: 0px;
}
.primary-text {
  font-size: 23px;
  max-width: 620px;
  color: #6a6a6a;
  margin: 1.5rem 0rem;
 
}

.no-underline {
  text-decoration: none;
}


 .secondary-buttons {
  padding: 1rem 2.5rem;
  background-color: rgb(28, 129, 28);
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color;
  font-weight: 600;
  color: white;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.text{
  text-decoration: none;
}

.secondary-buttons:hover {
  background-color: #e48f0f;
  text-decoration: none;
} 



.secondary-button {
  padding: 1rem 2.5rem;
  background-color: rgb(28, 129, 28);
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}
.secondary-button:hover {
  background-color: #e48f0f;
  text-decoration: none;
}
.about-section-container {
  margin-top: 11.8em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-section-image-container {
  flex: 0.9;
  margin-left: 0px;
  
}
.about-section-text-container {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.primary-heading1 {
  font-size: 30px;
  color: #4c4c4c;
  max-width: 600px;
  font-weight: 600;
}
.primary-subheading {
  font-weight: bold;
  color: green;
  font-size: 40px;
}

/* .primary-subheading1{
  font-size: 20px;
  font-weight: bold;
} */
.about-buttons-container {
  margin-top: 2rem;
  display: flex;
}
.watch-video-button {
  margin-left: 2rem;
  /* background-color: transparent; */
  text-decoration: underline;
  text-decoration-thickness:length ;
  text-decoration-color: darkblue ;
  text-decoration-thickness: 2px;
  border: none;
  border-radius: 5rem;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 600;
  color: #484848;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.watch-video-button svg {
  font-size: 3rem;
  margin-right: 1rem;
}

.footer-wrapper {
  margin: 6rem 0rem;
  display: flex;
  margin-top: 10rem;
}
.footer-logo-container {
  width: 300px;
}
.footer-icons {
  display: flex;
  flex-direction: row;
  margin-top: 2.5rem;
  margin-left: 90px;
  margin-top: -30px;
}
.footer-icons svg {
  font-size: 1.5rem;
  margin-right: 1.25rem;
  color: #585858;
}
/* .footer-section-one {
  border: 2px solid blue;
} */
.footer-section-two {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.footer-section-columns {
  display: flex;
  flex-direction: column;
  min-width: 190px;
  margin-left: -45px;
}

.footer-section-columns1{
  display: flex;
  flex-direction: column;
  min-width: 190px;
  margin-left: 50px;
}

.footer-section-columns1 span {
  margin: 0.25rem 0rem;
  font-weight: 600;
  color: #4c4c4c;
  cursor: pointer;
}

.footer-section-columns span {
  margin: 0.25rem 0rem;
  font-weight: 600;
  color: #4c4c4c;
  cursor: pointer;
}

.testimonial-section-bottom {
  display: flex; /* Use flexbox layout */
  justify-content: space-between; /* Distribute space evenly between the images */
  align-items: center; /* Align items vertically in the center */
}
.lal{
  width:400px;
  height: 400px;
  margin-left: 50px;
}
.text-lal{
  width:1080px;
  height:500px;
  margin-left: -10px;
  margin-top: 5px;
}

.testimonial-section-bottom {
  margin-bottom: 220px;
}
.testimonial-section-bottom p {
  font-weight: 700;
  color: #515151;
  max-width: 500px;
  font-size: 1.1rem;
  margin: 2rem 0rem;
}
.testimonials-stars-container svg {
  margin: 0rem 0.25rem;
  font-size: 1.5rem;
  color: #fe9e0d;
}
.testimonial-section-bottom h2 {
  margin-top: 1.5rem;
}
.work-section-wrapper {
  margin-top: 10rem;
}
.work-section-top p {
  text-align: center;
  max-width: 600px !important;
  
}
.work-section-top h1 {
  max-width: 700px !important;
}
.work-section-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.work-section-info {
  width: 320px;
  height: 480px;
  background-color: green;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  color: whitesmoke;
  margin: 1rem 2rem;
}
.work-section-info h2 {
  color: white;
  margin: 1rem 0rem;
  font-size: 19px;
  font-weight: bold;
}
.work-section-bottom {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.work-section-info p {
  flex: 1;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 17px;
}

@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1.2rem;
  }
  .primary-button {
    font-size: 1rem;
  }
  .home-bannerImage-container {
    max-width: 600px;
  }
}
@media (max-width: 800px) {
  .nav-logo-container {
    max-width: 250px;
    
  }
  .navbar-links-container {
    margin-top: -110px;
  }
  .navbar-menu-container {
    display: flex;
  }
  .home-bannerImage-container {
    max-width: 450px;
  }
  .home-banner-container,
  .about-section-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .about-section-container {
    flex-direction: column;
  }
  .home-image-section,
  .about-section-image-container {
    width: 100%;
    max-width: 400px;
  }
  .primary-heading {
    text-align: center;
    max-width: 90%;
  }
  .primary-text {
    text-align: center;
    max-width: 80%;
  }
  .home-text-section,
  .about-section-text-container {
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }
  .secondary-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
  }
  .about-section-container {
    margin-top: 5rem !important;
  }
  .about-buttons-container {
    justify-content: center;
    flex-direction: column;
  }
  .primary-subheading {
    text-align: center;
  }
  .watch-video-button {
    margin-left: 0rem !important;
    margin-top: 1rem;
    font-size: 1rem !important;
  }
  .watch-video-button svg {
    margin-right: 0.5rem !important;
  }
  .about-section-image-container {
    margin-right: 0rem !important;
  }
  .work-section-wrapper {
    margin-top: 5rem !important;
  }
  .work-section-bottom {
    margin-top: 1rem !important;
  }
  .contact-form-container {
    padding: 1rem !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 1rem !important;
  }
  .contact-form-container input {
    font-size: 1rem !important;
    max-width: 100%;
    padding: 0.5rem 1rem !important;
    margin-bottom: 0.8rem !important;
    text-align: center;
  }
  .footer-wrapper {
    flex-direction: column;
  }
  .footer-section-two {
    flex-direction: column;
    margin-top: 2rem;
  }
  .footer-section-columns {
    margin: 1rem 0rem;
  }
  .App {
    max-width: 95vw;
  }
}
@media (max-width: 600px) {
  .home-bannerImage-container,
  .about-background-image-container {
    display: none;
  }
}
.nav-logo-container{
  width: 440px;
  height: 250px;
  object-fit: contain;
  margin-left: -125px;
  margin-top: -30px;
  cursor: pointer;
}
.footlogo{
  width: 300px;
  height: 170px;
}


.contact-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 6rem 0rem;
  
}

.primary-heading2 {
  font-size: 25px;
  margin-bottom: 1rem;
  color: #4c4c4c;
  font-weight: 500;
  margin-left: 5px;
}

.contact-form-container {
  background-color: white;
  max-width: 700px;
  width: 100%;
  margin-top: 2rem;
  display: flex; /* Use flexbox for layout */
  align-items: center;
  padding: 1rem;
  border-radius: 5rem;
  margin-bottom: 3rem;
}

.contact-form-container input {
  flex: 1; /* Take remaining space */
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  margin-right: 270px; /* Add margin between input and button */
}

.secondary-button-con {
  padding: 1rem 2.5rem;
  background-color: rgb(28, 129, 28);
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
}

.secondary-button-con:hover {
  background-color: #e48f0f;
}

.primary-headings {
  font-size: 22px;
  color: #4c4c4c;
  max-width: 600px;
  margin-top: 19px;
  font-weight: 600;
}





